<%- include("../header"); -%>
<div class="register-container">
  <div class="register-box">
    <h1>Kayıt Ol</h1>
    <form id="js-register-form" action="#" method="POST">
      <div class="register-input-box">
        <label for="js-firstname">İsim</label> <br />
        <input
          type="text"
          name="first_name"
          id="js-firstname"
          class="register-input"
        />
      </div>
      <div class="register-input-box">
        <label for="js-lastname">Soyisim</label> <br />
        <input
          type="text"
          name="last_name"
          id="js-lastname"
          class="register-input"
        />
      </div>
      <div class="register-input-box">
        <label for="js-register-email" class="register-label">E-posta</label>
        <br />
        <input
          type="text"
          name="email"
          id="js-register-email"
          class="register-input"
        />
      </div>
      <div class="register-input-box">
        <label for="js-register-password" class="register-label">Şifre</label>
        <br />
        <input
          type="password"
          name="password1"
          id="js-register-password"
          class="register-input"
        />
        <br />
        <button class="register-show-psw-btn" type="button">
          <input
            type="checkbox"
            id="js-register-show-password"
            name="register-show-password"
          />
          <label for="js-register-show-password"> Şifreyi Göster</label>
        </button>
      </div>
      <div class="register-input-box">
        <label for="js-register-password-confirm" class="register-label"
          >Şifre Onay</label
        >
        <br />
        <input
          type="password"
          name="password2"
          id="js-register-password-confirm"
          class="register-input"
        />

        <br />
        <a href="/login/" class="login-page-router"
          >Zaten bir hesabın var mı? Giriş Yap.</a
        >
      </div>
      <button type="submit" class="register-btn">Kayıt Ol</button>
    </form>
  </div>
</div>
<%- include("../footer"); -%>
