<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>CommerceWeb© tüm hakları saklıdır.</p>
      <footer class="blockquote-footer">
        <cite title="Source Title">Fatih Bayram</cite>
      </footer>
    </blockquote>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let scriptList = document.createElement("script");
    scriptList.type = "module";
    scriptList.src = "/js/main.js";

    let scriptProduct = document.createElement("script");
    scriptProduct.type = "module";
    scriptProduct.src = "/js/product.js";

    let scriptRegister = document.createElement("script");
    scriptRegister.type = "module";
    scriptRegister.src = "/js/register.js";

    let scriptLogin = document.createElement("script");
    scriptLogin.type = "module";
    scriptLogin.src = "/js/login.js";

    if (window.location.pathname.includes("list")) {
      document.body.appendChild(scriptList);
    } else if (window.location.pathname.includes("product")) {
      document.body.appendChild(scriptProduct);
    } else if (window.location.pathname.includes("register")) {
      document.body.appendChild(scriptRegister);
    } else if (window.location.pathname.includes("login")) {
      document.body.appendChild(scriptLogin);
    }
  });
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
  crossorigin="anonymous"
></script>
