* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.filter-box {
  padding-top: 20px;
  padding-left: 12px;
  margin-left: 60px;
  display: flex;
  gap: 50px;
}

.ft-activate {
  width: 200px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.ft-name {
  z-index: -1;
}

.filter-info-box {
  display: none;
  position: relative;
  z-index: 10;
  position: absolute;
  z-index: 10;
}

.filter-info-box-act {
  display: block;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 200px;
  height: 200px;
  padding: 10px;
  overflow: scroll;
  position: absolute;
  z-index: 10;
}

.filter-info-box-act ul {
  list-style-type: none;
  padding: 0;
}

.filter-info-box-act ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.filter-info-box-act ul li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.ft-price-radios {
  margin-top: 10px;
}

.choice,
.choice-label {
  cursor: pointer;
}

.ft-src-btn {
  background: none;
  outline: none;
  border: none;
}

.ft-src {
  width: 58px;
  height: 27px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 8px;
}

.clear-ft-btn {
  display: flex;
  align-items: flex-end;
  padding: 10px 10px 0px 10px;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px 0px 20px 0px;
  position: relative;
  z-index: 1;
}

.list-product {
  background-color: #ffffff;
  border: 1px solid #edf1f2;
}

.list-product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s all;
}
.list-product-router {
  text-decoration: none;
  color: #000000;
}

.list-product-image {
  width: 400px;
  height: 500px;
}

.list-product-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-product-price {
  color: #bf0000;
}

.list-product-sku {
  color: #b2b2b2;
}
